<plugin name='http-nocache' version='0.2' grailsVersion='2.1 &gt; *'>
  <author>Yasuharu Nakano</author>
  <authorEmail>ynak@jggug.org</authorEmail>
  <title>filter for setting no-cache to http response</title>
  <description>\
This plugin has only one Filter to set no-cache.
It's very simple.
</description>
  <documentation>https://github.com/nobeans/grails-http-nocache</documentation>
  <type>HttpNocacheGrailsPlugin</type>
  <resources>
    <resource>ApplicationResources</resource>
    <resource>BootStrap</resource>
    <resource>HttpNoCacheFilters</resource>
    <resource>spring.resources</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>